@page "/admin-dashboard"
@using Microsoft.AspNetCore.Components.Authorization
   
<h3>Admin Dashboard</h3>
<p>Welcome, Admin!</p>
<BannedCustomerManagement />
<OutletManagement />
<StaffManagement />

