@page "/admin-dashboard"
@using Microsoft.AspNetCore.Components.Authorization
   @attribute [Authorize(Roles = "Admin")]

<h1>Admin Dashboard</h1>
<MudTabs>
    <MudTabPanel Text="Banned Customer Management" Icon="@Icons.Filled.Block">
        <BannedCustomerManagement />
    </MudTabPanel>
    <MudTabPanel Text="Table Management" Icon="@Icons.Filled.TableChart">
        <TableManagement />
    </MudTabPanel>
    <MudTabPanel Text="Outlet Management" Icon="@Icons.Filled.Storefront">
        <OutletManagement />
    </MudTabPanel>
    <MudTabPanel Text="Staff Management" Icon="@Icons.Filled.Person">
        <StaffManagement />
    </MudTabPanel>
</MudTabs>