@page "/staff-dashboard"
@inject AuthenticationStateProvider AuthProvider
   @attribute [Authorize(Roles = "Staff")]

<h1>Staff Dashboard</h1>

<MudTabs>
    <MudTabPanel Text="Queue Management" Icon="@Icons.Filled.Queue">
        <QueueManagement outletId="@outletId" />
    </MudTabPanel>
    <MudTabPanel Text="Reservation Management" Icon="@Icons.Filled.Event">
        <ReservationManagement outletId="@outletId" />
    </MudTabPanel>
</MudTabs>




@code {
    private int outletId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var outletIdClaim = user.FindFirst("outletId")?.Value;
            if (int.TryParse(outletIdClaim, out int parsedId))
            {
                outletId = parsedId;
                Console.WriteLine($"Outlet ID: {outletId}");
            }else{
                outletId = 0;
            }
        }
    }
}